/* ProductForm.css */

form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  input,
  select,
  textarea {
    flex-basis: calc(100% - 100px);
    height: 32px;
    padding: 0 12px;
  }
  
  input[type='file'] {
    flex-basis: 100px;
  }
  
  .addtocatbutton {
    flex-basis: 100%;
    height: 36px;
   
    color: white;
    border: none;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .addtocatbutton:hover {
    background-color: #3e8e41;
  }