.icons-phone {
  width: 40px;
  position: relative;
  border-radius: var(--br-12xl);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.call-to-us {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.icons-phone-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.we-are-available {
  width: 262px;
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.frame-parent43,
.we-are-available-247-7-days-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.we-are-available-247-7-days-parent {
  gap: var(--gap-base);
  font-size: var(--title-14px-regular-size);
}
.frame-parent43 {
  gap: var(--gap-5xl);
}
.icons-mail {
  width: 40px;
  position: relative;
  border-radius: var(--br-24xl);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.fill-out-our {
  width: 250px;
  display: inline-block;
}
.emails-customerexclusivecom,
.fill-out-our {
  position: relative;
  line-height: 21px;
}
.frame-parent42 {
  position: absolute;
  top: 40px;
  left: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--text2);
  font-family: var(--title-16px-regular);
}

@media (min-width:850px) and (max-width:992px) {
  .frame-parent42 {
    position: absolute;
    top: 40px;
    left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    text-align: left;
    font-size: var(--title-16px-regular-size);
    color: var(--text2);
    font-family: var(--title-16px-regular);
  }
}

@media (min-width: 321px) and (max-width: 480px){
  .frame-parent42 {
    position: absolute;
    top: 40px;
    left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    text-align: left;
    font-size: var(--title-16px-regular-size);
    color: var(--text2);
    font-family: var(--title-16px-regular);
  } 
  .contact-child{
    
  }
}
