.home1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  cursor: pointer;
}
.header7 {
  width: 48px;
  position: relative;
  height: 24px;
}
.about4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.header9 {
  width: 61px;
  position: relative;
  height: 24px;
}
.header-container,
.logo-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.logo-parent1 {
  gap: var(--gap-141xl);
}
.wishlist-icon2 {
  overflow: hidden;
  flex-shrink: 0;
}
.cart1-with-buy2,
.wishlist-icon2 {
  width: 32px;
  position: relative;
  height: 32px;
}
.header6,
.search-component-set-container,
.wishlist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.header6,
.search-component-set-container {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.header6 {
  position: absolute;
  top: 88px;
  left: 135px;
  gap: var(--gap-111xl);
  text-align: center;
  font-size: var(--title-16px-regular-size);
  color: var(--text2);
  font-family: var(--title-16px-regular);
}

@media (min-width: 321px) and (max-width: 767px) {
.logo-parent1 {
  gap: 0;
}
.header-container,
.logo-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
}