.servicecomp{
    margin-top: -935px;
}
.Container a {
    text-decoration: none;
  }
  
@media (min-width: 321px) and (max-width: 480px){
   .servicecomp  .Container{
    margin-top: 30px;
   }
  
   .servicecomp   .Browse{
    margin-top: 250px;
   }
  
  
}