.hero-endframe-cvklg0xk3w6e-la-icon {
  position: absolute;
  top: 16px;
  left: 574px;
  width: 496px;
  height: 352px;
  object-fit: cover;
}
.px-apple-gray-logo-1-icon {
  width: 40px;
  position: relative;
  height: 49px;
  object-fit: cover;
}
.iphone-14-series {
  width: 126px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  height: 20px;
  flex-shrink: 0;
}
.px-apple-gray-logo-1-parent {
  position: absolute;
  top: 58px;
  left: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.up-to-10 {
  position: absolute;
  top: 127px;
  left: 64px;
  font-size: var(--heading-48px-semibold-size);
  letter-spacing: 0.04em;
  line-height: 60px;
  font-weight: 600;
  font-family: var(--heading-24px-semibold);
  text-align: left;
  display: inline-block;
  width: 294px;
}
.shop-now {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.line-div {
  width: 82px;
  position: relative;
  border-top: 1px solid var(--text);
  box-sizing: border-box;
  height: 1px;
}
.shop-now-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.icons-arrow-right {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent21 {
  position: absolute;
  top: 269px;
  left: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-child5 {
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--primary);
  height: 12px;
  opacity: 0.5;
}
.frame-child7 {
  width: 14px;
  position: relative;
  height: 14px;
}
.ellipse-parent1 {
  position: absolute;
  top: 319px;
  left: 353px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.hero-endframe-cvklg0xk3w6e-la-parent {
  position: absolute;
  top: 50px;
  left: 124px;
  background-color: var(--text2);
  width: 1251px;
  height: 384px;
  overflow: hidden;
  text-align: center;
  font-size: var(--title-16px-regular-size);
  color: var(--text);
  font-family: var(--title-16px-regular);
}


@media (min-width: 321px) and (max-width: 767px){

  .hero-endframe-cvklg0xk3w6e-la-parent {
    position: absolute;
    top: 182px;
    right: 6vw;
    left: 6vw;
    background-color: var(--text2);
    width: auto;
    height: 384px;
    overflow: hidden;
    text-align: center;
    font-size: var(--title-16px-regular-size);
    color: var(--text);
    font-family: var(--title-16px-regular);
    margin-bottom: 20px;
  }

  .ellipse-parent1 {
    position: absolute;
    top: 319px;
    left: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }

  .px-apple-gray-logo-1-parent {
    position: absolute;
    top: 248px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
  }

  .hero-endframe-cvklg0xk3w6e-la-icon {
    position: absolute;
    top: -1px;
    left: -65px;
    width: 496px;
    height: 352px;
    object-fit: cover;
  }
  
  .up-to-10 {
    position: absolute;
    top: 276px;
    left: 74px;
    font-size: var(--heading-5px-semibold-size);
    letter-spacing: 0.04em;
    line-height: 60px;
    font-weight: 600;
    font-family: var(--heading-24px-semibold);
    text-align: left;
    display: inline-block;
    width: 294px;
  }

  .frame-parent21 {
    position: absolute;
    top: 325px;
    left: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }

  .ellipse-parent1 {
    position: absolute;
    top: 361px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }

}

@media (max-width: 320px){
  .hero-endframe-cvklg0xk3w6e-la-parent {
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    background-color: var(--text2);
    width: auto;
    height: 384px;
    overflow: hidden;
    text-align: center;
    font-size: var(--title-16px-regular-size);
    color: var(--text);
    font-family: var(--title-16px-regular);
    margin-bottom: 20px;
  }

  .ellipse-parent1 {
    position: absolute;
    top: 319px;
    left: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }

  .px-apple-gray-logo-1-parent {
    position: absolute;
    top: 248px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
  }

  .hero-endframe-cvklg0xk3w6e-la-icon {
    position: absolute;
    top: -1px;
    left: -38px;
    width: 377px;
    height: 275px;
    object-fit: cover;
  }

  
  .up-to-10 {
    position: absolute;
    top: 276px;
    left: 74px;
    font-size: var(--heading-5px-semibold-size);
    letter-spacing: 0.04em;
    line-height: 60px;
    font-weight: 600;
    font-family: var(--heading-24px-semibold);
    text-align: left;
    display: inline-block;
    width: 294px;
  }

  .frame-parent21 {
    position: absolute;
    top: 325px;
    left: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }

  .ellipse-parent1 {
    position: absolute;
    top: 361px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }


}

@media (min-width: 321px) and (max-width: 480px) {
  /* Styles for medium mobile devices */
  .hero-endframe-cvklg0xk3w6e-la-parent {
    position: absolute;
    top: auto;
    right: 2;
    left: 2;
    background-color: var(--text2);
    width: auto;
    height: 384px;
    overflow: hidden;
    text-align: center;
    font-size: var(--title-16px-regular-size);
    color: var(--text);
    font-family: var(--title-16px-regular);
    margin-bottom: 20px;
  }

  .ellipse-parent1 {
    position: absolute;
    top: 319px;
    left: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }

  .px-apple-gray-logo-1-parent {
    position: absolute;
    top: 248px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
  }

  .hero-endframe-cvklg0xk3w6e-la-icon {
    position: absolute;
    top: 10px;
    left: 0;
    width: 377px;
    height: 275px;
    object-fit: cover;
  }

  
  .up-to-10 {
    position: absolute;
    top: 276px;
    left: 74px;
    font-size: var(--heading-5px-semibold-size);
    letter-spacing: 0.04em;
    line-height: 60px;
    font-weight: 600;
    font-family: var(--heading-24px-semibold);
    text-align: left;
    display: inline-block;
    width: 294px;
  }

  .frame-parent21 {
    position: absolute;
    top: 325px;
    left: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }

  .ellipse-parent1 {
    position: absolute;
    top: 361px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }


}

@media (min-width: 480px) and (max-width: 768px) {
  /* Styles for large mobile devices */
  .hero-endframe-cvklg0xk3w6e-la-parent {
    position: absolute;
    justify-items: center;
    top: auto;
    right: 2;
    left: 2;
    background-color: var(--text2);
    width: auto;
    height: 384px;
    overflow: hidden;
    text-align: center;
    font-size: var(--title-16px-regular-size);
    color: var(--text);
    font-family: var(--title-16px-regular);
    margin-bottom: 20px;
  }

  .ellipse-parent1 {
    position: absolute;
    top: 319px;
    left: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }

  .px-apple-gray-logo-1-parent {
    position: absolute;
    top: 248px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
  }

  .hero-endframe-cvklg0xk3w6e-la-icon {
    position: absolute;
    top: 10px;
    left: 0;
    width: 377px;
    height: 275px;
    object-fit: cover;
  }

  
  .up-to-10 {
    position: absolute;
    top: 276px;
    left: 74px;
    font-size: var(--heading-5px-semibold-size);
    letter-spacing: 0.04em;
    line-height: 60px;
    font-weight: 600;
    font-family: var(--heading-24px-semibold);
    text-align: left;
    display: inline-block;
    width: 294px;
  }

  .frame-parent21 {
    position: absolute;
    top: 325px;
    left: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }

  .ellipse-parent1 {
    position: absolute;
    top: 361px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }


}

@media(min-width:850px) and (max-width:992px) {
  .hero-endframe-cvklg0xk3w6e-la-parent {
    position: absolute;
    justify-items: center;
    top: auto;
    right: 2;
    left: 0;
    background-color: var(--text2);
    width: 992px;
    height: 384px;
    overflow: hidden;
    text-align: center;
    font-size: var(--title-16px-regular-size);
    color: var(--text);
    font-family: var(--title-16px-regular);
    margin-bottom: 20px;
  }

  .hero-endframe-cvklg0xk3w6e-la-icon{
    left: 470px;
  }
}

@media (min-width:993px) {
  .hero-endframe-cvklg0xk3w6e-la-parent{
    margin-top: auto;
    left: 5vw;
    width: 90vw;
  }
  
}

